html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
}

.orders-history-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
    font-size: 20px;
    color: red;
    height: 70vh;
}

.booking-image{
    height: 200px;
    width: 200px;
}